{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    <p>Submit the manufacturer of your choice to see the three disk models they make with the largest capacity in bytes. Format is (DiskModel, ManufacturerID, CapacityBytes)(</p>
    <p>Current manufacturers are Hitachi, Seagate, Toshiba, and WesternDigital.</p>
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Run a Query</legend>
                <div class="form-group">
                    {{ form.manufacturer_name.label(class="form-control-label") }}
                    {% if form.manufacturer_name.errors %}
                        {{ form.manufacturer_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.manufacturer_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.manufacturer_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    {% for result in result_set %}
        <p>{{ result }}</p>
    {% endfor %}
{% endblock content %}