{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1><br>
    <p>This application was designed and created by the following University of Illinois at Urbana-Champaign students in spring 2020 for the Database Systems course.</p>

    <br /><hr><br />
    <p>Connor Segneri - Business Intelligence Developer</p>
    <p>Manikandan Kaliyaperumal - Principal Engineer</p>
    <p>Yaroslav Buzko - Solution Architect</p>
    <p>Subramanian Shankar - Software Engineer</p>
{% endblock content %}