

{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to Hard Disk Guru!</h1><br>
    <p>Hard Disk Guru helps users maintain and expand their storage pool.</p>
    <p>This application makes failure predictions about the user's existing hard disks, recommending preventive replacement. <a href="{{ 
url_for('recommendations') }}">"Shopping Assistant"</a> 
functionality helps users expand their storage pool by suggesting reliable, economical configurations.</p>
	<p>General analytical insights are available in <a href="{{ url_for('hard_disk_analysis') }}">"Hard Disk Analytics"</a> section. To receive 
personalized analysis of your own storage 
pool, please 
<a href="{{ url_for('register') }}">create an account</a> and provide information about the disks you currently own.
    <br /><hr><br />
    <p>Hard Disk Guru leverages a large data set to develop reliability scores for individual disk models. Below is a chart that shows the 
top five most reliable models, as well as bottom five least reliable.</p>
    <canvas id="chart-1" width="600" height="400"></canvas>

    <br /><hr><br />
    <p>The pie chart below shows the total amount of unique hard disks used in testing for each manufacturer in our data set.</p>
    <canvas id="chart-2" width="600" height="400"></canvas>

    <script>
        // BAR CHART
        var myChart1 = new Chart(document.getElementById("chart-1"), {
            type: 'horizontalBar',
            data: {
            labels: [{% for row in results %} "{{ row[0] }}", {% endfor %}],
            datasets: [
                {
                backgroundColor: ["#006600", "#006600", "#006600", "#006600", "#006600", "#cc0000", "#cc0000", "#cc0000", "#cc0000", "#cc0000"],
                data: [{% for row in results %} {{ row[1]*100 }}, {% endfor %}]
                }
            ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Top 5 and Bottom 5 Models By Reliability Score'
            }
            }
        });

        // PIE CHART
        var myChart2 = new Chart(document.getElementById("chart-2"), {
            type: 'pie',
            data: {
            labels: [{% for row in manufacturer_counts %} "{{ row[0] }}", {% endfor %}],
            datasets: [{
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [{% for row in manufacturer_counts %} {{ row[1] }}, {% endfor %}]
            }]
            },
            options: {
            title: {
                display: true,
                text: 'Number of Hard Disks per Manufacturer'
            }
            }
        });
    </script>
{% endblock content %}
