{% extends "layout.html" %}
{% block content %}

    <h1>My Hard Disks</h1><br>
    <p>Here you can see the hard disks you've entered into the application. The reliability score we calculate is a value between zero and one. The closer it is to one, the more reliable it is.</p>

    <br /><hr><br />
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Disk Model</th>
            <th scope="col">Manufacture Date</th>
            <th scope="col">Byte Capacity</th>
            <th scope="col">Reliability Score</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
            {% for i in range(results|length) %}
                <tr>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ results[i][1] }}</td>
                    <td>{{ results[i][3] }}</td>
                    <td>{{ results[i][0] }}</td>
                    <td>{{ results[i][2] }}</td>
                    <td>{{ results[i][4] }}</td>
                    <td>
                        {% if results[i][7] <= 0.59 %}
                            <p class="text-danger"><b>{{ results[i][7] }}</b></p>
                        {% elif results[i][7] <= 0.79 %}
                            <p class="text-warning"><b>{{ results[i][7] }}</b></p>
                        {% else %}
                            <p class="text-success"><b>{{ results[i][7] }}</b></p>
                        {% endif %}
                    </td>
                    <td>{{ "${:,.2f}".format(results[i][8]) }}</td>
                    <td><a class="btn btn-outline-secondary" href="{{ url_for('update_hard_disk', serial_number=results[i][1]) }}" role="button">Update</a></td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Hard Disk?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action = "{{ url_for('delete_hard_disk', serial_number=results[i][1]) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </td>
                    {% if results[i][7] <= 0.59 %}
                        <td><a class="btn btn-outline-warning" href="{{ results[i][9] }}" role="button">Replacement</a></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
